# version: '3.8'

services:
  hotstuff-node:
    image: georgiaxr/hs-test:latest
    container_name: hotstuff_node${NODE_ID}
    hostname: node${NODE_ID}
    network_mode: host  
    environment:
      - NODE_ID=${NODE_ID}
      - NODE_LEAST_ID=${NODE_LEAST_ID}
      - NODE_NUM=${NODE_NUM}
      - NODE_PORT=${NODE_PORT}
      - NODE_HOSTS=${NODE_HOSTS}
      - POMPE_ENABLE=${POMPE_ENABLE}
      - POMPE_BATCH_SIZE=${POMPE_BATCH_SIZE}
      - POMPE_STABLE_PERIOD_MS=${POMPE_STABLE_PERIOD_MS}
      - POMPE_LEADER_NODE_ID=${POMPE_LEADER_NODE_ID}
      - POMPE_LIVENESS_DELTA_MS=${POMPE_LIVENESS_DELTA_MS}
      - SMROL_PNFIFO_THRESHOLD=${SMROL_PNFIFO_THRESHOLD}
      - SMROL_DISABLE_MULTISIG=${SMROL_DISABLE_MULTISIG}
      # - SMROL_TOKIO_CORES=${SMROL_TOKIO_CORES}
      - SMROL_RT_CORES=${SMROL_RT_CORES}
      - TOKIO_NETWORK_RT_CORES=${TOKIO_NETWORK_RT_CORES}
      - POMPE_RT_CORES=${POMPE_RT_CORES}
      - SMROL_PNFIFO_THRESHOLD_WORKERS=${SMROL_PNFIFO_THRESHOLD_WORKERS}
      - SMROL_PNFIFO_THRESHOLD_CORES=${SMROL_PNFIFO_THRESHOLD_CORES}
      - SMROL_SEQ_OFFLOAD_WORKERS=${SMROL_SEQ_OFFLOAD_WORKERS}
      - SMROL_SEQ_OFFLOAD_CORES=${SMROL_SEQ_OFFLOAD_CORES}
      - SMROL_MULTISIG_COMBINE_CORES=${SMROL_MULTISIG_COMBINE_CORES}
      - SMROL_MULTISIG_VERIFY_MEDIAN_CORES=${SMROL_MULTISIG_VERIFY_MEDIAN_CORES}
      - SMROL_MULTISIG_VERIFY_MEDIAN_WORKERS=${SMROL_MULTISIG_VERIFY_MEDIAN_WORKERS}
      - SMROL_MULTISIG_VERIFY_COMBINED_CORES=${SMROL_MULTISIG_VERIFY_COMBINED_CORES}
      - SMROL_MULTISIG_VERIFY_COMBINED_WORKERS=${SMROL_MULTISIG_VERIFY_COMBINED_WORKERS}
      - SMROL_MEDIAN_INFLIGHT=${SMROL_MEDIAN_INFLIGHT}
      - SMROL_ORDER_FINALIZE_INFLIGHT=${SMROL_ORDER_FINALIZE_INFLIGHT
      - SMROL_FINAL_SIGN_INFLIGHT=${SMROL_FINAL_SIGN_INFLIGHT}
      - SMROL_FINAL_VERIFY_INFLIGHT=${SMROL_FINAL_VERIFY_INFLIGHT}
      - RUST_LOG=${RUST_LOG}
      - SMROL_DISABLE_METRICS=0
      - METRICS_LISTEN_ADDR=0.0.0.0:9900
    volumes:
      - ./logs:/logs
      - ./logs:/log
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "nc", "-z", "127.0.0.1", "10000"]
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 20s
    profiles:
      - consensus
