# version: '3.8'

services:
  hotstuff-node:
    image: georgiaxr/hs-test:latest
    container_name: hotstuff_node${NODE_ID}
    hostname: node${NODE_ID}
    network_mode: host  
    command: ["pure_attacker"]
    environment:
      - NODE_ID=${NODE_ID}
      - NODE_LEAST_ID=${NODE_LEAST_ID}
      - NODE_NUM=${NODE_NUM}
      - NODE_PORT=${NODE_PORT}
      - NODE_HOSTS=${NODE_HOSTS}
      - APP_BLOCK_MAX_TX=12000
      - HS_MAX_VIEW_TIME_MS=3000
      # - HS_PROGRESS_BUF_CAP=65536
      - POMPE_ENABLE=true
      - POMPE_BATCH_SIZE=1
      - POMPE_STABLE_PERIOD_MS=500
      - POMPE_LEADER_NODE_ID=0
      - POMPE_LIVENESS_DELTA_MS=400
      - SMROL_PNFIFO_THRESHOLD=3
      - SMROL_DISABLE_MULTISIG=0

      - POMPE_ATTACK_ONLY=1
      - SMROL_ATTACK_ONLY=1
      - ADVERSARY_MODE=pompe
      - ADVERSARY_PAYLOAD_BYTES=500
      - ATTACK_SLEEP_MICROS=100

      # - SMROL_TOKIO_CORES=0-1
      # - SMROL_RT_CORES=0-1
      # - TOKIO_NETWORK_RT_CORES=0-1
      # - POMPE_RT_CORES=0-1

      # - SMROL_PNFIFO_THRESHOLD_WORKERS=2-7
      # - SMROL_PNFIFO_THRESHOLD_CORES=2-7
      # - SMROL_SEQ_OFFLOAD_WORKERS=2
      # - SMROL_SEQ_OFFLOAD_CORES=2-7
      # - SMROL_MULTISIG_COMBINE_CORES=2-7

      # - SMROL_MULTISIG_VERIFY_MEDIAN_CORES=2-7
      # - SMROL_MULTISIG_VERIFY_MEDIAN_WORKERS=16
      # - SMROL_MULTISIG_VERIFY_COMBINED_CORES=2-7
      # - SMROL_MULTISIG_VERIFY_COMBINED_WORKERS=16

      - SMROL_MEDIAN_INFLIGHT=24
      - SMROL_ORDER_FINALIZE_INFLIGHT=4
      - SMROL_FINAL_SIGN_INFLIGHT=4
      - SMROL_FINAL_VERIFY_INFLIGHT=24

      # - SMROL_PNFIFO_BROADCAST_CONCURRENCY=4
      # - SMROL_ORDER_VERIFY_CONCURRENCY=4
      # - SMROL_REQUEST_WORKERS=4
      # - SMROL_MEDIAN_COMBINE_WORKERS=4
      # - SMROL_FINAL_WORKERS=4

      - RUST_LOG=warn

      - SMROL_MEDIAN_BATCH_SIZE=24
      - SMROL_MEDIAN_BATCH_TIMEOUT_US=2000
      - SMROL_FINAL_BATCH_SIZE=24
      - SMROL_FINAL_BATCH_TIMEOUT_US=2000

      - SMROL_DISABLE_METRICS=1
      - RUST_BACKTRACE=1
      - METRICS_LISTEN_ADDR=0.0.0.0:9900
    volumes:
      - ./logs:/logs
      - ./logs:/log
    restart: always
    healthcheck:
      test: ["CMD", "nc", "-z", "127.0.0.1", "10000"]
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 20s
    profiles:
      - consensus
