# version: '3.8'

services:
  hotstuff-node:
    image: georgiaxr/hs-test:smrol
    container_name: hotstuff_node${NODE_ID}
    hostname: node${NODE_ID}
    network_mode: host  
    environment:
      - NODE_ID=${NODE_ID}
      - NODE_LEAST_ID=${NODE_LEAST_ID}
      - NODE_NUM=${NODE_NUM}
      - NODE_PORT=${NODE_PORT}
      - NODE_HOSTS=${NODE_HOSTS}
      - POMPE_ENABLE=${POMPE_ENABLE}
      - POMPE_BATCH_SIZE=${POMPE_BATCH_SIZE}
      - POMPE_STABLE_PERIOD_MS=${POMPE_STABLE_PERIOD_MS}
      - POMPE_LEADER_NODE_ID=${POMPE_LEADER_NODE_ID}
      - RUST_LOG=${RUST_LOG}
    volumes:
      - ./logs:/logs
      - ./logs:/log
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "nc", "-z", "127.0.0.1", "10000"]
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 20s
    profiles:
      - consensus
