# version: '3.8'

services:
  hotstuff-client:
    image: georgiaxr/hs-test:latest
    container_name: hotstuff_adv
    hostname: adversary
    network_mode: host
    command: ["docker_node_adversary"]
    environment:
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_MODE=${CLIENT_MODE}
      - NODE_LEAST_ID=${NODE_LEAST_ID}
      - NODE_NUM=${NODE_NUM}
      - NODE_HOSTS=${NODE_HOSTS}
      - TARGET_TPS=${TARGET_TPS}
      - TEST_DURATION=${TEST_DURATION}
      - RUST_LOG=${RUST_LOG}
    volumes:
      - ./logs:/logs
      - ./logs:/log
    restart: "no"
    profiles:
      - client